body{
  background: lightgray;
  height: 300px;
  width: 1000px;
  align-content: center;
}
header{
  background: lightgrey url(./src/assests/headingquest.png)  no-repeat;
  height: 300px;
  width: 1000px;
  align-content: center;
}
h1{
  font-size: 100px;
  text-align: center;
  color: rgb(29, 27, 27) ;
}