body{
  background: white;
  height: 300px;
  width: 1000px;
  align-content: center;
}
header{
  background: white url(./src/assests/headingquest.png)  no-repeat center;
  width: 100%;
  padding: 4px;
}
h1{
  font-size: 100px;
  text-align: center;
  color: rgb(29, 27, 27) ;
}